/* COLORS
-------------------------------------------------- */

$color-a: #331E38;
$color-b: #706993;
$color-c: #70A0AF;
$color-d: #A0C1B9;
$color-e: #F4E8C1;
$color-body: #5a5a5a;


/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 6rem;
  padding-bottom: 1rem;
  color: $color-body;
}

#root h1 {
  margin-bottom: 1rem;
}

.divider {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

/* CUSTOMIZE THE MAIN PAGE
-------------------------------------------------- */
#main-page {
  padding-top: 4rem;
}

/* CUSTOMIZE THE GALLERY PAGE
-------------------------------------------------- */
#gallery-page {
  padding-top: 5rem;
}

/* CUSTOMIZE THE HEADER
-------------------------------------------------- */

#root .navbar {
  background-color: $color-a;
}

#root .dropdown-toggle {
  color: white;
}

#root .navbar .navbar-brand img {
  margin-right: 0.2rem;
}

#root .navbar-dark .navbar-toggler {
  border: none;
  padding: 0.25rem;
}

/* CUSTOMIZE THE BUTTON
-------------------------------------------------- */

#root .btn {
  color: white;
  background-color: $color-b;
  border-color: $color-b;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 2rem;
}

#root .carousel-caption h1 {
  margin-bottom: 1rem;
}

.carousel-item > picture > img {
  width: 100%;
}


/* COLLEAGUES OVERVIEW
-------------------------------------------------- */

#colleagues-overview .container {
  margin-right: 5rem;
  margin-left: 5rem;
}

#colleagues-overview img.rounded-circle {
  margin-bottom: 0.4rem;
  width: 8rem;
}

#colleagues-overview .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

#colleagues-overview .h1 {
  margin-bottom: 1rem;
}

#colleagues-overview h2 {
  margin-bottom: 0;
  font-weight: 400;
}

#colleagues-overview .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* COLLEAGUES DETAILS
-------------------------------------------------- */

#colleagues h2.name {
  margin-bottom: 0;
}

#colleagues img {
  width: 11rem;
}

/* GOGGLE MAPS
-------------------------------------------------- */
.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

/* MAX WIDTH */

@media (max-width: 768px) {
  #colleagues img {
    margin-top: 0;
  }
  #colleagues h2.name {
    margin-top: .5rem;
  }
  #root h1 {
    margin-bottom: 0.3rem;
  }
  body {
    padding-top: 4.7rem;
  }
  #root .navbar {
    padding: .5rem .8rem;
  }
}

/* MIN WIDTH */

@media (min-width: 768px) {
  #colleagues img {
    margin-top: 0.5rem;
  }
}
